" Commentary plugin
Plug 'tpope/vim-commentary'

set scrolloff=5
set incsearch

set clipboard+=unnamedplus
set ignorecase
set smartcase

set idearefactormode=keep
set ideajoin
set surround
set easymotion
set NERDTree

let mapleader = " "

nmap <leader>a <action>(ShowErrorDescription)
nmap <leader>w <action>(FindInPath)
nmap <leader>d <action>(GotoFile)
nmap <leader>r <action>(RenameElement)
nmap <leader>gb <action>(Annotate)

nmap <C-n> <action>(ActivateProjectToolWindow)
nmap <C-f> <action>(ReformatCode)

nmap <C-u> <C-u>zz
nmap <C-d> <C-d>zz

nmap <C-h> <C-W>h
nmap <C-l> <C-W>l
nmap <C-j> <C-W>j
nmap <C-k> <C-W>k

